In [ ]:
# Değişken içeriğini yazdırma.

num1 = 5
num2 = 10
print('num1,num2')

num1,num2

In [ ]:
num1 = 5        #Değişken içeriği yazdırma da tırnak kullanılmaz.
num2 = 10
print(num1,num2)

5 10

In [ ]:
#Değişken içeriği yazdırma da tırnak kullanılmaz.
#İstene çıktı : num1:5 , num2:10
num1 = 5
num2 = 10
print('num1:',num1,',num2:' ,num2)

num1: 5 ,num2: 10

**VARIABLE/DEĞİŞKENLER**

-Değişkenin ismini biz belirliyoruz.
-PEP8 önerilerini kullanarak isim vermek en iyisi.
-Anlaşılabilir isimler konulmalıdır başkalarınında anlaması için.

In [ ]:
#variable=value (=) atama oporatörüdür. value değerdir ve variable ye eklenir.
#Yani her zaman eşitliğin sağ tarafı sol tarafa aktarılır.

pi_num = 3.15
name_surname = 'CATE BLANCHETT'
print(pi_num)
print(name_surname)

3.15
CATE BLANCHETT

In [ ]:
#3 değişken tanımlayıp yazdır.
name = 'Cate'
surname = 'Blanchett'
geburtsdatum = '14.05.1969'
print(name,surname,geburtsdatum)

Cate Blanchett 14.05.1969

In [ ]:
#my_age de hangi değeri görürüz ?

my_age = 33
your_age = 34
my_age = your_age    #UPDATE/GÜNCELLEME yapıldı. my_age your_ age ye aktarıldı.
print(my_age)

34

In [ ]:
#Değişken isimlerinde küçük harfler kullanın birden fazla kelimden oluşuyor ise aralarında ayrıştırmak için alt tire (_) kullanılır.

my_age = 33
your_age = 34
my_age = your_age    #UPDATE/GÜNCELLEME yapıldı. my_age your_ age ye aktarıldı.
print(my_age)

34

In [ ]:
#Keyword / Anahtar listesi alma.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

**PEP8 KURALLARI VE ÖNERİLERİ :**

1. Değişken isimlerinde küçük harf kullanılmalı #öneri
2. Değişken ismi birkaç kelimeden oluşuyorsa arada "_" kullan
3. Değişken isimleri anlaşılır olmalı,
4. Kafa karıştıran karakterler kullanılmamalı (l,I,o,..)
5. Python keywords (reserved words) değişken ismi olarak kullanılmamalı (öneri değil, kural)
6. keyword listesi dışında Python built-in fonksiyonlarını değişken ismi olarak kullanmmalıyız (print, input, sum, map,....)
7. Değişken isimleri rakamla başlamaz. Ama sonrası rakam içerebilir.
8. Değişken isimlerinde boşluk dahil özel karakterler (,-;#$/()..)kullanılmaz ('_' hariç)
9. Herkes tarafından bilinen kısaltmalar(jan,oct, avr, ...) kullanılabilir. # öneri
10. 3 kelimeden uzun değişken adı da kullanılmamalı (avg_income_feb_...)  # öneri

In [ ]:
#Pythonda küçük-büyük harf ayrımı vardır.
true =1
print(true)

1

In [ ]:
# PEP-8 önerisi: Değişkenlere anlamlı isimler verilmelidir.
number = 1000
message = "Hallo"
pi_num = 3.14
print(number)
print(message)
print(pi_num)

In [ ]:
# Değişkenlere değer atama operatörü olarak '=' kullanılır. Ve her zaman
# eşitliğin sağ tarafı sol tarafa aktarılır.
pi_number = 3.14
name_surname = "Mehlika Sultan"

In [ ]:
#31-30-28 çeken ayları bir araya getirmek.
#Tek satırda çoklu atama.

jan = march = may = july = august = oct = dec = 31
april = june = sept = nov = 30
feb = 28
print(jan, feb, march, april, may, june, july, august, sept, oct, nov, dec)

In [ ]:
# Soru: iki değişkenin içeriğini yer değiştirme
x = 15
y = 33
# out: x = 33, y = 15
x, y  = y, x
print(x)
print(y)

In [ ]:
# Birden fazla değişkene tek satırda değer atama yapılabilir.
x = y = z = 'world'
print(x)
print(y)
print(z)

world
world
world

In [ ]:
#Değişkene hangi değeri atayacağımıza henüz karar veremediysek ne yapmalıyız ?
thomas = 34
jane = 27
mary = None # ? / # BOŞ DEĞER ATAMA
susanne = 29
print(thomas, jane, mary, susanne)

34 27 None 29

In [ ]:
print (mary)

None

In [ ]:
#Güncelleme/Update işlemi burada yapıldı.
website = 'appele.com'
print(website)
website = 'amazon.com' # burada en son değer olarak 'amazon.com' atandı. Web sitesi güncellendi.
print(website)

appele.com
amazon.com

In [ ]:
#String olarak yazdırdığımız için çıktısı first_number olacak ama tırnak içinde olmaz ise sonuç yani 200 çıkacaktı.
first_number = 200
second_number = 'first_number'
print(second_number)

first_number

In [ ]:

first_number = 200
second_number = first_number
print(second_number)

200

In [ ]:
#Her zaman eşitliğin sağ tarafı sol tarafa aktarılır.

a = 35
b = 27

c = b
b = a
print (a)
print (b)
print (c)

35
35
27

In [ ]:
#SORU:2 değişkenin içeriğini yer değiştirme.
x = 29
y = 32
#out= x = 29 , y = 32
x,y = y,x
print (x)
print (y)

32
29

In [ ]:
#Diğer dillerde (C, C++, Java, .....) 3. değişken kullanmanız gerekiyor.
x = 25
y = 29
z = None

z = x
x = y
y = z

print (x)
print (y)

29
25

In [ ]:
#SORU : A-B-C ye ne gider ?
#Was ist the output?

a,b,c = 3,2.5,'Hİ!'

print (a,b,c)

3 2.5 Hİ!

In [ ]:
#Variables (değişkenler) = values (değeri)
#Eşit olması gerekiyor.
a,b,c = 3,2.5,'Hİ!'

print (a)
print (b)
print (c)

3
2.5
Hİ!

In [ ]:
#Güncelleme/Update oldu.

man = 'David'
color = 'Blau'
age = 32
pi = 3.0
color ='yellow'
age = 33
man = 'Hans'
print (man, age, color)

Hans 33 yellow

In [ ]:
#DATA Type (VERİ TİPLERİ)
#Değişkenin tipini öğrenmek için type deyimi kullanılır.
#Tırnak içerisine aldığımız her şey string str olarak görülür.
my_text = 'Hello World'
print(type(my_text))

<class 'str'>

In [ ]:
#Değişkenin tipini öğrenmek için type deyimi kullanılır.
#İNT tipi sayı tipidir.
int_num1 = 173
int_num2 = -12
print(type(int_num1))
print(type(int_num2))

<class 'int'>
<class 'int'>

In [ ]:
#FLOAT tipi noktalı sayılar varsa yani kesirli sayılar bu float veri tipi oluyor.
#Çıktısı out : floattır.
my_float1 = 3.14
my_float2 = -1.56
print(type(my_float1))
print(type(my_float2))

<class 'float'>
<class 'float'>

In [ ]:
#BOOLEAN VERİ TİPİ (bool)
#Bir değişkenin 2 durumunu ifade eder. Bir şey vardır ya da yoktur.
#Varsa TRUE = 1  yoksa FALSE = 0 dır.
#Python C tabanlı bir dil olduğu için C den bu kuralı almıştır.

my_bool1 = True
my_bool2 = False

print(type(my_bool1))
print(type(my_bool2))

<class 'bool'>
<class 'bool'>

In [ ]:
#TİP DÖNÜŞÜMÜ / TYPE CONVERSİON
#int-str ye dönüşümü
#Python da her şeyi str veri tipine dönüştürülebilir.
#Veri hangi tipe dönüşecekse o tip sarmalına alınır.
num1 = 5
num2 = 6
print(type(str(num1)))
print(type(str(num2)))

<class 'str'>
<class 'str'>

In [ ]:
num1 = 5
num2 = 6
print(str(num1) + str(num2)) #birleştirme (concat)

56

In [ ]:
#
pi = 1.34
conv_pi = str(pi)
print (conv_pi)
print (type(conv_pi))

1.34
<class 'str'>

In [ ]:
#Tip dönüşümünde küçük veri tipleri büyük veri tiplerine dönüşürken bir veri kaybı yaşamaz.
#Fakat tersi durumda veri kaybı yaşanır.
#float > int
#str > float > int > bool
# sadece tam sayıyı alır bir veri kaybı vardır. 1.34 den sadece 1 i alır.
pi = 1.34
conv_pi = int(pi)
print (conv_pi)
print (type(conv_pi))

1
<class 'int'>

In [ ]:
pi = 1.34
conv_pi = float(pi)
print (conv_pi)
print (type(conv_pi))

1.34
<class 'float'>

In [ ]:
#Her sayıyı int e dönüştüremeyiz.
#Eğer string ifademiz sayılardan oluşuyorsa o zaman dönüştürebiliriz.
# + operatörü ile birleştirme yaparken sadece aynı veri tipi kullanılmalıdır.
x = 30
v = '28'
y = '3.5'
z = 'I am at_'

print (x-int(v))
print (x-float(y))
print (z+str(x))

2
26.5
I am at_30

In [ ]:
# 2 str i birleştirdi inte dönüştürdü.
#5 ile 1 i birleştirdi. str.
print (int("5" + "1"))      #  51
print (str ("5" + "1"))     # '51'
print ("5" + "1")           # '51'

51
51
51

In [ ]:
number_int = 123
number_float  = 1.23
number_new = number_float + number_int
print ("number_new:" ,number_new)
print ("number_new:" + str(number_new))

print ("number_int = ",type (number_int))
print ("number_float = ",type (number_float))

number_new: 124.23
number_new:124.23
number_int =  <class 'int'>
number_float =  <class 'float'>

In [ ]:
num_int = 123
num_flt = 1.23
num_new = num_int + num_flt # 123+1.23 = 124.23

print (num_new) # toplama işleminin sonucunu yazacak.
print (type(num_new)) # sonucun tipini yazacak.

124.23
<class 'float'>

In [ ]:
#Matematiksel işlemlerde True : 1 , False : 0 dır.
num_int = 123
num_bool = True
num_new = num_int + num_bool # 123+1.23 = 124.23

print (num_new) # toplama işleminin sonucunu yazacak.
print (type(num_new)) # sonucun tipini yazacak.

In [ ]:
#İnt ile Str birleştirilemez.
num_int = 123
num_str = "456"
print ('Data type of num_int: ', type(num_int)) # type : veri tipinin int olduğunu gösteriyor.
print ('Data type of num_str: ', type(num_str)) # type : veri tipinin str olduğunu gösteriyor.

Data type of num_int:  <class 'int'>
Data type of num_str:  <class 'str'>

In [ ]:
123 + True # 1 dir.

124

In [ ]:
123 + False # 0 dır.

123

In [ ]:
num_int = 123
num_str = "456"
print ('Data type of num_int: ', type(num_int)) # type : veri tipinin int olduğunu gösteriyor.
print ('Data type of num_str: ', type(num_str)) # type : veri tipinin str olduğunu gösteriyor.

num_str = int(num_str)
print ('Data type of num_str after Type Casting: ', type(num_str)) # 456 str int e dönüştü.

num_sum = num_int + num_str #toplanınca sonuç : 456 + 123 = 579

print ('Sum of num_int and num_str:', type (num_sum)) # 579 un tipi nedir denildiğinde int gösterecek.

# type : veri tipinin Str olduğunu gösteriyor.
#İnt sarmalına alındı ve str ye tip dönüşümü yapıldı ve tırnak işaretleri kalktı ve 456 gözükür.

Data type of num_int:  <class 'int'>
Data type of num_str:  <class 'str'>
Data type of num_str after Type Casting:  <class 'int'>
Sum of num_int and num_str: <class 'int'>